* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
div.root {
    font-size: 14px;
    position: relative;
    width: 1280px;
    height: 720px;
    background: white;
    padding-left: 10px;
    padding-top: 10px;
}
.div1 {
    font-size: 1.5em;
    position: absolute;
    width: 75%;
    height: 150px;
    left: 10px;
    top: 10px;
    margin-bottom: 10px;
    background: #C4C4C4
}
.div2 {
    font-size: 1.5em;
    position: absolute;
    width: 50%;
    height: 150px;
    left: 10px;
    top: 170px;
    margin-bottom: 10px;
    background: #C4C4C4;
}
.div3 {
    font-size: 1rem;
    position: absolute;
    width: 75%;
    height: 150px;
    left: 10px;
    top: 330px;
    margin-bottom: 10px;
    background: #C4C4C4;
}
.div4 {
    font-size: 1.5em;
    position: absolute;
    width: 50%;
    height: 150px;
    left: 10px;
    top: 490px;
    background: #C4C4C4
}